
/* #####-[ 洧딐洧딡洧딫洧딡洧땐洧땑洧딌洧딮洧딤洧 洧딖洧딡洧딭洧쓇롕 洧땎洧릸.洧릷 洧딢洧땑 洧멇롕쉻롕洧쓇롕_洧딯 ]-##### */

/* Nastaven칤 CSS */
$text-color: white; /* Barva Textu */
$background: rgb(0, 153, 255); /* Barva Pozad칤 */
$background-gradient-left: linear-gradient(to left, rgb(0, 62, 155), rgb(0, 153, 255)); /* Dvojt치 Barva Pozad칤 */
$background-gradient-right: linear-gradient(to right, rgb(0, 62, 155), rgb(0, 153, 255)); /* Dvojt치 Barva Pozad칤 */

/* ############# */

* { /* V칳choz칤 */
    padding: 0; /* V칳choz칤 Padding */
    margin: 0; /* V칳choz칤 Margin */
    font-family: Arial; /* Font Textu */
    box-sizing: border-box; /* V칳choz칤 Velikost */
}
body { /* Body */
    background: #fff; /* Barva Pozad칤 */
}
.header h1 { /* Nadpis v NavBaru / Hlavi캜ce */
    color: $text-color; /* Barva Textu dle Nastaven칤 */
    background: $background-gradient-left; /* Barva Pozad칤 */
    padding: 10px 0px 10px 10px; /* Padding */
    text-shadow: 1px 1px 5px black; /* St칤n Textu */
}
.header p { /* Odhl치코en칤 v NavBaru / Hlavi캜ce */
    text-align: right; /* Pozice */
    text-decoration: none; /* Bez podtr쬰n칤 */
    color: $text-color; /* Barva Textu dle Nastaven칤 */
    margin-right: 15px; /* Mezera mezi okrajem */
    font-weight: bold; /* Tlust칠 P칤smo */
    position: relative; /* Relativn칤 Pozice */
    margin-top: -40px; /* Zarovn치n칤 */
}
.header a { /* Odhl치코en칤 v NavBaru / Hlavi캜ce */
    color: $text-color; /* Barva Textu dle Nastaven칤 */
    text-decoration: none; /* Bez Podtr쬰n칤 */
}
.main .card h2 { /* Nadpis Karet se statistikami */
    text-align: left; /* Zarovn치n칤 textu */
    margin-top: 0px; /* Margin */
    color: $text-color; /* Barva Textu dle Nastaven칤 */
}
.main .card p { /* Text v Kart치ch se statistikami */
    text-align: left; /* Zarovn치n칤 textu */
    color: $text-color; /* Barva Textu dle Nastaven칤 */
}
.main .card { /* Styl Karet se statistikami */
    background: $background; /* Barva pozad칤 */
    width: 210px; /* 먞솬뗢a karet */
    margin: 0 auto; /* Margin karet */
    border-radius: 10px; /* Zaoblen칤 roh콢 karet */
    position: relative; /* Relativn칤 pozice karet */
    margin-top: 40px; /* Mezera mezi hlavi캜kou a kartami */
    margin-right: 13px; /* Mezera mezi SideBarem a kartami */
    padding: 10px; /* Mezera mezi textem a okrajem karet */
    display: inline-block; /* Zarovn치n칤 karet vedle sebe do 콏ady (bloku) */
    box-shadow: 0px 0px 5px black; /* St칤n karet */
}
.sidenav { /* SideBar */
    height: 100%; /* V칳코ka */
    width: 200px; /* 먞솬뗢a */
    position: fixed; /* Pozice */
    z-index: 1; /* Z-Index */
    top: 57px; /* V칳코ka */
    left: 0; /* Mezera vlevo */
    background: linear-gradient(to top, rgb(0, 62, 155), rgb(0, 153, 255));; /* Barva Pozad칤 */
    overflow-x: hidden; /* Skryt칤 OverFlowu */
  }
  .sidenav .link { /* Odkazy v SideBaru */
    padding: 6px 8px 6px 16px; /* Mezery mezi 콏치dky */
    text-decoration: none; /* Odstran캩n칤 podtr쬰n칤 */
    font-size: 20px; /* Velikost Textu */
    color: $text-color; /* Barva textu dle nastaven칤 */
    display: block; /* Zarovn치n칤 do bloku */
  }
  .sidenav .text1 { /* Nadpisy v SideBaru */
    padding: 6px 8px 6px 16px; /* Mezery mezi 콏치dky */
    text-decoration: none; /* Bez podtr쬰n칤 */
    font-size: 20px; /* Velikost Textu */
    color: $text-color; /* Barva Textu dle nastaven칤 */
    display: block; /* Zarovn치n칤 do bloku */
  }
  .sidenav .text2 { /* Odkazy v SideBaru */
    padding: 6px 8px 6px 16px; /* Mezery mezi 콏치dky */
    text-decoration: none; /* Bez podtr쬰n칤 */
    font-size: 15px; /* Velikost Textu */
    color: $text-color; /* Barva Textu dle nastaven칤 */
    display: block; /* Zarovn치n칤 do bloku */
  }
  .sidenav .text2:hover { /* Odkazy v SideBaru p콏i najet칤 my코칤 */
    color: #dddddd; /* Zm캩na Barvy Textu Odkazu */
  }

  .header a:hover { /* Odkazy v SideBaru p콏i najet칤 my코칤 */
    color: #dddddd; /* Zm캩na Barvy Textu Odkazu */
  }
  .main { /* Hlavn칤 캜치st obsahu */
    margin-left: 210px; /* Odchylka od SideBaru */
    font-size: 15px;  /* Velikost Textu */
    padding: 0px 10px; /* Padding */
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;} /* Padding SideBaru nahoru */
    .sidenav a {font-size: 18px;} /* Velikost Textu Odkaz콢 v SideBaru */
  }
.bold { /* T콏칤da pro tlust칳 Text */
    font-weight: bold; /* Tlust칳 Text */
}  
.main .undertabs { /* Velk치 Karta pod kartami se statistikami */
    color: $text-color; /* Barva textu dle nastaven칤 */
    margin-top: 20px; /* Mezera maho콏e */
    width: 99%; /* 먞솬뗢a velk칠 karty */
    background: $background; /* Barva Pozad칤 */
    padding: 10px; /* Mezera mezi textem a okraji */
    border-radius: 10px; /* Zaoblen칤 roh콢 karty */
    box-shadow: 0px 0px 5px black; /* St칤n karet */
}
.main .infocard { /* Karta s informacemi */
    color: $text-color; /* Barva Textu dle Nastaven칤 */
    margin-top: 20px; /* Mezera naho콏e  */
    width: 25%; /* 먞솬뗢a karty */
    background: $background; /* Barva Pozad칤 */
    padding: 10px; /* Mezera mezi textem a okraji karty */
    border-radius: 10px; /* Zaoblen칤 roh콢 karty */
    box-shadow: 0px 0px 5px black; /* St칤n karet */
}
.main .infocard p{ /* Text pod nadpisem karty s informacemi */
    padding-top: 5px; /* Mezery mezi 콏치dky */
}